*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
body{
  height: 100vh;
  background-color: #6c63ff;
  display: flex;
  align-items: center;
  justify-content: center;
}